# Dependency directories
node_modules/
dist/
# Build output
build/
# Logs
logs/

.DS_Store/
.DS_Store?

.idea/

.server/generateTestToken.js
.server/generateTestTokenLecturer.js
.server/test_lms_setup.js
.server/uploads

.uploads/

.DS_Store

.env.local

